@model Mapper21.Site.Models.LoginViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>Mapper21 | Log in</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.0.2 -->
    <link href="/Content/Libraries/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="/Content/Libraries/AdminLTE/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/Content/Libraries/AdminLTE/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- Mapper21 style-->
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-black">


    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-box" id="login-box">
                        <div class="header">Sign In</div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="body bg-gray">
                            <div class="form-group">

                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">

                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <div class="checkbox">

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)

                            </div>
                        </div>
                        <div class="footer">
                            <button type="submit" class="submit btn bg-olive btn-block">
                                Sign In <i class="icon-angle-right"></i>
                            </button>
                            <p>@Html.ActionLink("I forgot my password", "ForgotPassword")</p>
                        </div>
                        <div class="margin text-center">
                            <span>Sign in using social networks</span>
                            <br>
                            <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
                            <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
                            <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
                        </div>
                    </div>


                }
            </section>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>