@using Mapper21.UI.Models
@model Mapper21.BE.Domain.SubSection

@{
    ViewBag.Title = "Edit";
    ViewBag.CaseStudyId = Model.Id;
    ViewBag.SectionId = Model.SectionId;
}
<div class="col-md-9">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Overview</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab">STA</a></li>
            <li class=""><a href="#tab_3" data-toggle="tab">Fieldwork</a></li>
            <li class=""><a href="#tab_4" data-toggle="tab">Experts</a></li>
            <li class=""><a href="#tab_5" data-toggle="tab">Service Learning</a></li>
            <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.SectionId)
                    @Html.HiddenFor(model => model.SubSectionTypeId)

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="Description">Description</label>
                                @(Html.Kendo().Editor()
                                  .Name("Description")
                                  .HtmlAttributes(new { style = "height:340px" })
                                  .Value(@<text></text>)
                              .ImageBrowser(imageBrowser => imageBrowser
                                  .Image("~/Content/UserFiles/Images/{0}")
                                  .Read("Read", "ImageBrowser")
                                  .Create("Create", "ImageBrowser")
                                  .Destroy("Destroy", "ImageBrowser")
                                  .Upload("Upload", "ImageBrowser")
                                  .Thumbnail("Thumbnail", "ImageBrowser"))
                                )
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Update Case Study Overview" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div><!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
                <h4><label>Standards Targets Assessments</label></h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Standards</td>
                            <td>Long Term Targets</td>
                            <td>Short Term Targets</td>
                            <td>Assessments</td>
                            <td>&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (dynamic item in ViewBag.StaGrid)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Standards</td>
                                <td>@item.LongTermTargets</td>
                                <td>@item.ShortTermTargets</td>
                                <td>@item.Assessments</td>
                                <td><a href="/StaCollection/Edit/@item.StaCollectionId">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Sta/Create/@Model.Id">Add new set of Standards, Targets and Assessments</a>
            </div><!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
                <div id="fieldwork">
                    @Html.Partial("~/Views/SubSection/Partials/_Fieldwork.cshtml", new FieldworkViewModel { CaseStudyId = Model.Id })
                </div>
            </div><!-- /.tab-pane -->
            <div class="tab-pane" id="tab_4">
                <div id="expert">
                    @Html.Partial("~/Views/SubSection/Partials/_Expert.cshtml", new ExpertViewModel { CaseStudyId = Model.Id })
                </div>
            </div><!-- /.tab-pane -->
            <div class="tab-pane" id="tab_5">
                <div id="serviceLearning">
                    @Html.Partial("~/Views/SubSection/Partials/_ServiceLearning.cshtml", new ExpertViewModel { CaseStudyId = Model.Id })
                </div>
            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </div>
</div>
<div class="col-md-3">
    @Html.Partial("~/Views/Shared/_StrandNavigation.cshtml")
</div>