@model Mapper21.Business.Dto.SubSectionStaDto

@{
    ViewBag.Title = "Create";
    var subSectionType = "Case Study";
    if (ViewContext.RouteData.Values["currentSectionType"].ToString() == "FirstSixWeeks") { subSectionType = "Week"; }
    if (ViewContext.RouteData.Values["currentSectionType"].ToString() != "FirstSixWeeks" &&
        ViewContext.RouteData.Values["currentSectionType"].ToString() != "FallExpedition" &&
        ViewContext.RouteData.Values["currentSectionType"].ToString() != "MiniMester" &&
        ViewContext.RouteData.Values["currentSectionType"].ToString() != "SpringExpedition") { subSectionType = "Unit"; }
}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li><a href="/Section/EditSubSection/@ViewContext.RouteData.Values["currentSectionType"].ToString()/@ViewContext.RouteData.Values["subSectionId"].ToString()#tab_2">Return to @subSectionType</a></li>
    </ul>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="box box-primary">
            <div class="box-header">
                <i class="fa fa-edit"></i>
                <h3 class="box-title">Standards, Targets, and Assessments</h3>
            </div>
            <div class="box-body">
                <p>This section allows you create a new set of Standards, Targets and Assessments which are aligned to this @ViewContext.RouteData.Values["currentSectionType"].ToString().</p>
                <p>If you wish to proceed, <strong>click the Confirm button below</strong>.</p>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Confirm" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}