@{
    var springExpeditionOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "Overview" ? "active" : "";
    var springExpeditionHabits = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "Habits" ? "active" : "";
    var springExpeditionGuidingQuestions = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "GuidingQuestions" ? "active" : "";
    var springExpeditionScienceBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "ScienceBigIdeas" ? "active" : "";
    var springExpeditionSocialStudiesBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "SocialStudiesBigIdeas" ? "active" : "";
    var springExpeditionSubSections = (ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "SubSection") ||
                                        ((ViewContext.RouteData.Values["action"].ToString() == "CreateSubSection" || ViewContext.RouteData.Values["action"].ToString() == "EditSubSection") && (ViewContext.RouteData.Values.ContainsKey("sectionType") && ViewContext.RouteData.Values["sectionType"].ToString() == "SpringExpedition")) ? "active" : "";
    var springExpeditionFinalProduct = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "FinalProduct" ? "active" : "";
}

<section class="content-header">
    <ul class="nav nav-pills">
        <li class="@springExpeditionOverview"><a href="~/Section/Overview/SpringExpedition">Overview</a></li>
        <li class="@springExpeditionHabits"><a href="~/Section/Habits/SpringExpedition/">Habits</a></li>
        <li class="@springExpeditionGuidingQuestions"><a href="~/Section/GuidingQuestions/SpringExpedition">Guiding Questions</a></li>
        <li class="@springExpeditionScienceBigIdeas"><a href="~/Section/ScienceBigIdeas/SpringExpedition">Big Ideas for Science</a></li>
        <li class="@springExpeditionSocialStudiesBigIdeas"><a href="~/Section/SocialStudiesBigIdeas/SpringExpedition">Big Ideas for Social Studies</a></li>
        <li class="@springExpeditionSubSections"><a href="~/Section/SubSection/SpringExpedition">Case Studies</a></li>
        <li class="@springExpeditionFinalProduct"><a href="/Section/FinalProduct/SpringExpedition">Final Product</a></li>
    </ul>
</section>
