@{
    // Top Level Nav
    var semesterNav = (ViewContext.RouteData.Values.ContainsKey("id") && 
        (ViewContext.RouteData.Values["id"].ToString() == "FirstSixWeeks" ||
         ViewContext.RouteData.Values["id"].ToString() == "FallExpedition" ||
         ViewContext.RouteData.Values["id"].ToString() == "MiniMester" ||
         ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition")) ? "active" : "";
    
    var subjectAreaNav = (semesterNav != "active") ? "active" : "";
    
    // Semester Nav
    var firstSixWeeksOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FirstSixWeeks" ? "active" : "";
    var fallExpeditionOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FallExpedition" ? "active" : "";
    var miniMesterOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "MiniMester" ? "active" : "";
    var springExpeditionOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" ? "active" : "";
    
    //Subject Area Nav
    var artOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "Art" ? "active" : "";
    var foreignLanguagesOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "ForeignLanguages" ? "active" : "";
    var languageArtsOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "LanguageArts" ? "active" : "";
    var mathematicsOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "Mathematics" ? "active" : "";
    var mediaOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "Media" ? "active" : "";
    var musicOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "Music" ? "active" : "";
    var peHealthOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "PeHealth" ? "active" : "";
    var scienceOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "Science" ? "active" : "";
    var socialSkillsOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SoclaiSkills" ? "active" : "";
    var socialStudiesOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SocialStudies" ? "active" : "";
    var technologyOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "Technology" ? "active" : "";
    var writingOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "Writing" ? "active" : "";
    var clubcOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "ClubC" ? "active" : "";
    var crewOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "Crew" ? "active" : "";
    var sasOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "Sas" ? "active" : "";
}
<ul class="sidebar-menu">
    <li class="active">
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>

    <li class="treeview @semesterNav">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>Semesters</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="@firstSixWeeksOverview"><a href="~/Section/Overview/FirstSixWeeks"><i class="fa fa-angle-double-right"></i> First Six Weeks</a></li>
            <li class="@fallExpeditionOverview"><a href="~/Section/Overview/FallExpedition"><i class="fa fa-angle-double-right"></i> Fall Expedition</a></li>
            <li class="@miniMesterOverview"><a href="~/Section/Overview/MiniMester"><i class="fa fa-angle-double-right"></i> MiniMester</a></li>
            <li class="@springExpeditionOverview"><a href="~/Section/Overview/SpringExpedition"><i class="fa fa-angle-double-right"></i> Spring Expedition</a></li>
        </ul>
    </li>
    
    <li class="treeview @subjectAreaNav">
        <a href="#">
            <i class="fa fa-leaf"></i>
            <span>Subject Areas</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="@artOverview"><a href="~/Section/Overview/Art"><i class="fa fa-angle-double-right"></i> Art</a></li>
            <li class="@foreignLanguagesOverview"><a href="~/Section/Overview/ForeignLanguages"><i class="fa fa-angle-double-right"></i> Foreign Languages</a></li>
            <li class="@languageArtsOverview"><a href="~/Section/Overview/LanguageArts"><i class="fa fa-angle-double-right"></i> Language Arts</a></li>
            <li class="@mathematicsOverview"><a href="~/Section/Overview/Mathematics"><i class="fa fa-angle-double-right"></i> Mathematics</a></li>
            <li class="@mediaOverview"><a href="~/Section/Overview/Media"><i class="fa fa-angle-double-right"></i> Media</a></li>
            <li class="@musicOverview"><a href="~/Section/Overview/Music"><i class="fa fa-angle-double-right"></i> Music</a></li>
            <li class="@peHealthOverview"><a href="~/Section/Overview/PhysicalEducation"><i class="fa fa-angle-double-right"></i> Physical Education</a></li>
            <li class="@scienceOverview"><a href="~/Section/Overview/Science"><i class="fa fa-angle-double-right"></i> Science</a></li>
            <li class="@socialSkillsOverview"><a href="~/Section/Overview/SocialSkills"><i class="fa fa-angle-double-right"></i> Soclai Skills</a></li>
            <li class="@socialStudiesOverview"><a href="~/Section/Overview/SocialStudies"><i class="fa fa-angle-double-right"></i> Social Studies</a></li>
            <li class="@technologyOverview"><a href="~/Section/Overview/Technology"><i class="fa fa-angle-double-right"></i> Technology</a></li>
            <li class="@writingOverview"><a href="~/Section/Overview/Writing"><i class="fa fa-angle-double-right"></i> Writing</a></li>
            <li class="@clubcOverview"><a href="~/Section/Overview/ClubC"><i class="fa fa-angle-double-right"></i> Club C</a></li>
            <li class="@crewOverview"><a href="~/Section/Overview/Crew"><i class="fa fa-angle-double-right"></i> Crew</a></li>
            <li class="@sasOverview"><a href="~/Section/Overview/Sas"><i class="fa fa-angle-double-right"></i> Sas</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>Reports</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Reports Page</a></li>
        </ul>
    </li>
</ul>