@{
    // Top Level Nav
    var firstSixWeeksNav = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FirstSixWeeks" ? "active" : "";
    var fallExpeditionNav = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FallExpedition" ? "active" : "";
    var miniMesterNav = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "MiniMester" ? "active" : "";
    var springExpeditionNav = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" ? "active" : "";
    var subjectAreaNav = ViewContext.RouteData.Values["action"].ToString() == "Strand" ? "active" : "";

    // First Six Weeks Nav
    var firstSixWeeksOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FirstSixWeeks" && ViewContext.RouteData.Values["action"].ToString() == "Overview" ? "active" : "";
    var firstSixWeeksHabits = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FirstSixWeeks" && ViewContext.RouteData.Values["action"].ToString() == "Habits" ? "active" : "";
    var firstSixWeeksGuidingQuestions = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FirstSixWeeks" && ViewContext.RouteData.Values["action"].ToString() == "GuidingQuestions" ? "active" : "";
    var firstSixWeeksScienceBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FirstSixWeeks" && ViewContext.RouteData.Values["action"].ToString() == "ScienceBigIdeas" ? "active" : "";
    var firstSixWeeksSocialStudiesBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FirstSixWeeks" && ViewContext.RouteData.Values["action"].ToString() == "SocialStudiesBigIdeas" ? "active" : "";
    var firstSixWeeksSubSections = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FirstSixWeeks" && ViewContext.RouteData.Values["action"].ToString() == "SubSection" ? "active" : "";

    // Fall Expedition Nav
    var FallExpeditionOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FallExpedition" && ViewContext.RouteData.Values["action"].ToString() == "Overview" ? "active" : "";
    var FallExpeditionHabits = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FallExpedition" && ViewContext.RouteData.Values["action"].ToString() == "Habits" ? "active" : "";
    var FallExpeditionGuidingQuestions = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FallExpedition" && ViewContext.RouteData.Values["action"].ToString() == "GuidingQuestions" ? "active" : "";
    var FallExpeditionScienceBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FallExpedition" && ViewContext.RouteData.Values["action"].ToString() == "ScienceBigIdeas" ? "active" : "";
    var FallExpeditionSocialStudiesBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FallExpedition" && ViewContext.RouteData.Values["action"].ToString() == "SocialStudiesBigIdeas" ? "active" : "";
    var FallExpeditionSubSections = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "FallExpedition" && ViewContext.RouteData.Values["action"].ToString() == "SubSection" ? "active" : "";

    // Mini-Mester Nav
    var MiniMesterOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "MiniMester" && ViewContext.RouteData.Values["action"].ToString() == "Overview" ? "active" : "";
    var MiniMesterHabits = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "MiniMester" && ViewContext.RouteData.Values["action"].ToString() == "Habits" ? "active" : "";
    var MiniMesterGuidingQuestions = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "MiniMester" && ViewContext.RouteData.Values["action"].ToString() == "GuidingQuestions" ? "active" : "";
    var MiniMesterScienceBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "MiniMester" && ViewContext.RouteData.Values["action"].ToString() == "ScienceBigIdeas" ? "active" : "";
    var MiniMesterSocialStudiesBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "MiniMester" && ViewContext.RouteData.Values["action"].ToString() == "SocialStudiesBigIdeas" ? "active" : "";
    var MiniMesterSubSections = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "MiniMester" && ViewContext.RouteData.Values["action"].ToString() == "SubSection" ? "active" : "";

    // Spring Expedition Nav
    var SpringExpeditionOverview = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "Overview" ? "active" : "";
    var SpringExpeditionHabits = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "Habits" ? "active" : "";
    var SpringExpeditionGuidingQuestions = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "GuidingQuestions" ? "active" : "";
    var SpringExpeditionScienceBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "ScienceBigIdeas" ? "active" : "";
    var SpringExpeditionSocialStudiesBigIdeas = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "SocialStudiesBigIdeas" ? "active" : "";
    var SpringExpeditionSubSections = ViewContext.RouteData.Values.ContainsKey("id") && ViewContext.RouteData.Values["id"].ToString() == "SpringExpedition" && ViewContext.RouteData.Values["action"].ToString() == "SubSection" ? "active" : "";
}
<ul class="sidebar-menu">
    <li class="active">
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>

    <li class="treeview @firstSixWeeksNav">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>First Six Weeks</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="@firstSixWeeksOverview"><a href="~/Section/Overview/FirstSixWeeks"><i class="fa fa-angle-double-right"></i> Overview</a></li>
            <li class="@firstSixWeeksHabits"><a href="~/Section/Habits/FirstSixWeeks"><i class="fa fa-angle-double-right"></i> Habits</a></li>
            <li class="@firstSixWeeksGuidingQuestions"><a href="~/Section/GuidingQuestions/FirstSixWeeks"><i class="fa fa-angle-double-right"></i> Guiding Questions</a></li>
            <li class="@firstSixWeeksScienceBigIdeas"><a href="~/Section/ScienceBigIdeas/FirstSixWeeks"><i class="fa fa-angle-double-right"></i> Big Ideas for Science</a></li>
            <li class="@firstSixWeeksSocialStudiesBigIdeas"><a href="~/Section/SocialStudiesBigIdeas/FirstSixWeeks"><i class="fa fa-angle-double-right"></i> Big Ideas for Social Studies</a></li>
            <li class="@firstSixWeeksSubSections"><a href="~/Section/SubSection/FirstSixWeeks"><i class="fa fa-angle-double-right"></i> Weeks</a></li>
        </ul>
    </li>
    
    <li class="treeview @fallExpeditionNav">
        <a href="#">
            <i class="fa fa-leaf"></i>
            <span>Fall Expedition</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="@FallExpeditionOverview"><a href="~/Section/Overview/FallExpedition"><i class="fa fa-angle-double-right"></i> Overview</a></li>
            <li class="@FallExpeditionHabits"><a href="~/Section/Habits/FallExpedition"><i class="fa fa-angle-double-right"></i> Habits</a></li>
            <li class="@FallExpeditionGuidingQuestions"><a href="~/Section/GuidingQuestions/FallExpedition"><i class="fa fa-angle-double-right"></i> Guiding Questions</a></li>
            <li class="@FallExpeditionScienceBigIdeas"><a href="~/Section/ScienceBigIdeas/FallExpedition"><i class="fa fa-angle-double-right"></i> Big Ideas for Science</a></li>
            <li class="@FallExpeditionSocialStudiesBigIdeas"><a href="~/Section/SocialStudiesBigIdeas/FallExpedition"><i class="fa fa-angle-double-right"></i> Big Ideas for Social Studies</a></li>
            <li class="@FallExpeditionSubSections"><a href="~/Section/SubSection/FallExpedition"><i class="fa fa-angle-double-right"></i> Case Studies</a></li>
        </ul>
    </li>
    <li class="treeview @miniMesterNav">
        <a href="#">
            <i class="fa fa-cloud"></i>
            <span>Mini-Mester</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="@MiniMesterOverview"><a href="~/Section/Overview/MiniMester"><i class="fa fa-angle-double-right"></i> Overview</a></li>
            <li class="@MiniMesterHabits"><a href="~/Section/Habits/MiniMester"><i class="fa fa-angle-double-right"></i> Habits</a></li>
            <li class="@MiniMesterGuidingQuestions"><a href="~/Section/GuidingQuestions/MiniMester"><i class="fa fa-angle-double-right"></i> Guiding Questions</a></li>
            <li class="@MiniMesterScienceBigIdeas"><a href="~/Section/ScienceBigIdeas/MiniMester"><i class="fa fa-angle-double-right"></i> Big Ideas for Science</a></li>
            <li class="@MiniMesterSocialStudiesBigIdeas"><a href="~/Section/SocialStudiesBigIdeas/MiniMester"><i class="fa fa-angle-double-right"></i> Big Ideas for Social Studies</a></li>
            <li class="@MiniMesterSubSections"><a href="~/Section/SubSection/MiniMester"><i class="fa fa-angle-double-right"></i> Case Studies</a></li>
        </ul>
    </li>
    <li class="treeview @springExpeditionNav">
        <a href="#">
            <i class="fa fa-sun-o"></i>
            <span>Spring Expedition</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="@SpringExpeditionOverview"><a href="~/Section/Overview/SpringExpedition"><i class="fa fa-angle-double-right"></i> Overview</a></li>
            <li class="@SpringExpeditionHabits"><a href="~/Section/Habits/SpringExpedition"><i class="fa fa-angle-double-right"></i> Habits</a></li>
            <li class="@SpringExpeditionGuidingQuestions"><a href="~/Section/GuidingQuestions/SpringExpedition"><i class="fa fa-angle-double-right"></i> Mini-Mester</a></li>
            <li class="@SpringExpeditionScienceBigIdeas"><a href="~/Section/ScienceBigIdeas/SpringExpedition"><i class="fa fa-angle-double-right"></i> Big Ideas for Science</a></li>
            <li class="@SpringExpeditionSocialStudiesBigIdeas"><a href="~/Section/SocialStudiesBigIdeas/SpringExpedition"><i class="fa fa-angle-double-right"></i> Big Ideas for Social Studies</a></li>
            <li class="@SpringExpeditionSubSections"><a href="~/Section/SubSection/SpringExpedition"><i class="fa fa-angle-double-right"></i> Case Studies</a></li>
        </ul>
    </li>

    <li class="treeview @subjectAreaNav">
        <a href="#">
            <i class="fa fa-leaf"></i>
            <span>Subject Areas</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Navigation/SubjectArea/Art"><i class="fa fa-angle-double-right"></i> Art</a></li>
            <li><a href="~/Navigation/SubjectArea/ForeignLanguages"><i class="fa fa-angle-double-right"></i> Foreign Languages</a></li>
            <li><a href="~/Navigation/SubjectArea/LanguageArts"><i class="fa fa-angle-double-right"></i> Language Arts</a></li>
            <li><a href="~/Navigation/SubjectArea/Mathematics"><i class="fa fa-angle-double-right"></i> Mathematics</a></li>
            <li><a href="~/Navigation/SubjectArea/Media"><i class="fa fa-angle-double-right"></i> Media</a></li>
            <li><a href="~/Navigation/SubjectArea/Music"><i class="fa fa-angle-double-right"></i> Music</a></li>
            <li><a href="~/Navigation/SubjectArea/PhysicalEducation"><i class="fa fa-angle-double-right"></i> Physical Education</a></li>
            <li><a href="~/Navigation/SubjectArea/Science"><i class="fa fa-angle-double-right"></i> Science</a></li>
            <li><a href="~/Navigation/SubjectArea/SocialSkills"><i class="fa fa-angle-double-right"></i> Soclai Skills</a></li>
            <li><a href="~/Navigation/SubjectArea/SocialStudies"><i class="fa fa-angle-double-right"></i> Social Studies</a></li>
            <li><a href="~/Navigation/SubjectArea/Technology"><i class="fa fa-angle-double-right"></i> Technology</a></li>
            <li><a href="~/Navigation/SubjectArea/Writing"><i class="fa fa-angle-double-right"></i> Writing</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>Reports</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Reports Page</a></li>
        </ul>
    </li>
</ul>