@using ExpeditionMapper.Models.Domain
@using ExpeditionMapper.Models.ViewModels
@using ExpeditionMapper.UI.Models
@model ExpeditionMapper.BE.Domain.Expedition

@{
    ViewBag.Title = "Edit";
    ViewBag.ExpeditionId = Model.Id;
}

<script src="~/Scripts/ExpeditionMapper.js"> </script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/Home/Index">My Curriculum</a></li>
                    <li class="active"><a href="#">Expedition</a></li>
                </ul>
                <h3>@Model.Name</h3>
            </div>
        </div>
        <h4><label>Overview</label></h4>
        <div class="well">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new {@class = "form-control input-sm"})
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Description, new {@class = "form-control input-sm"})
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KickOff, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.KickOff, new {@class = "form-control input-sm"})
                    @Html.ValidationMessageFor(model => model.KickOff)
                </div>
            </div>
        </div>

        <div id="guidingQuestions">
            @Html.Partial("~/Views/Expedition/Partials/_GuidingQuestion.cshtml", new GuidingQuestionViewModel {ExpeditionId = Model.Id})
        </div>

        <div id="expeditionHabits">
            @Html.Partial("~/Views/Expedition/Partials/_ExpeditionHabit.cshtml", new ExpeditionHabitViewModel {ExpeditionId = Model.Id})
        </div>

        <div id="scienceBigIdeas">
            @Html.Partial("~/Views/Expedition/Partials/_ScienceBigIdea.cshtml", new ScienceBigIdeaViewModel {ExpeditionId = Model.Id})
        </div>

        <div id="socialStudiesBigIdeas">
            @Html.Partial("~/Views/Expedition/Partials/_SocialStudiesBigIdea.cshtml", new SocialStudiesBigIdeaViewModel {ExpeditionId = Model.Id})
        </div>
        <h4><label>Case Studies</label></h4>
        <div class="well col-md-12">
            <div class="row">
                @foreach (CaseStudy @item in Model.CaseStudies)
                {
                    <div class="col-md-3">
                        <a style="float: left" class="btn btn-primary btn-wide" href="/CaseStudy/Edit/@item.Id">@item.Name
                        </a>
                    </div>
                }
            
            </div>
            <p><a href="/CaseStudy/Create/@Model.Id">Add a New Case Study</a></p>
        </div>
        <h4><label>Final Product Name</label></h4>
        <div class="well">

            <div class="form-group">
                @Html.LabelFor(model => model.FinalProductName, new {@class = "control-label col-md-2"})
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.FinalProductName, new {@class = "form-control input-sm"})
                    @Html.ValidationMessageFor(model => model.FinalProductName)
                </div>

            </div>
        </div>
        <h4><label>Final Product Description</label></h4>
        @(Html.Kendo().Editor()
              .Name("FinalProductDescription")
              .HtmlAttributes(new {style = "height:340px"})
              .Value(@<text></text>)
              .ImageBrowser(imageBrowser => imageBrowser
                  .Image("~/Content/UserFiles/Images/{0}")
                  .Read("Read", "ImageBrowser")
                  .Create("Create", "ImageBrowser")
                  .Destroy("Destroy", "ImageBrowser")
                  .Upload("Upload", "ImageBrowser")
                  .Thumbnail("Thumbnail", "ImageBrowser"))
              )

        <div class="form-group">
            <br />
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}