@using Mapper21.UI.Models
@model Mapper21.Domain.Section

@{
    ViewBag.Title = "Final Product";
    ViewBag.ExpeditionId = Model.Id;
}

<script src="~/Scripts/Mapper21.js"> </script>
    <div class="form-horizontal">
        <div class="box box-primary">
            <div class="box-header">
                <i class="fa fa-edit"></i>
                <h3 class="box-title">Final Product</h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.GradeLevelId)
                @Html.HiddenFor(model => model.SectionTypeId)
                @Html.HiddenFor(model => model.Year)
                if (!String.IsNullOrEmpty((string) TempData["SuccessMessage"]))
                {
                    <div class="alert alert-success">
                        <p>@TempData["SuccessMessage"]</p>
                    </div>
                }
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.FinalProductName)
                            @Html.TextBoxFor(model => model.FinalProductName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FinalProductName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="FinalProductDescription">Description</label>
                            @(Html.Kendo().Editor()
                              .Name("FinalProductDescription")
                              .HtmlAttributes(new { style = "height:340px" })
                              .Value(@<text></text>)
                          .ImageBrowser(imageBrowser => imageBrowser
                              .Image("~/Content/UserFiles/Images/{0}")
                              .Read("Read", "ImageBrowser")
                              .Create("Create", "ImageBrowser")
                              .Destroy("Destroy", "ImageBrowser")
                              .Upload("Upload", "ImageBrowser")
                              .Thumbnail("Thumbnail", "ImageBrowser"))
                            )
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
