@using ExpeditionMapper.BE.Domain
@using ExpeditionMapper.UI.Models
@model ExpeditionMapper.BE.Domain.Expedition

@{
    ViewBag.Title = "Final Product";
    ViewBag.ExpeditionId = Model.Id;
}

<script src="~/Scripts/ExpeditionMapper.js"> </script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4><label>Final Product Name</label></h4>
        <div class="well">

            <div class="form-group">
                @Html.LabelFor(model => model.FinalProductName, new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.FinalProductName, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.FinalProductName)
                </div>

            </div>
        </div>
        <h4><label>Final Product Description</label></h4>
        @(Html.Kendo().Editor()
              .Name("FinalProductDescription")
              .HtmlAttributes(new { style = "height:340px" })
              .Value(@<text></text>)
              .ImageBrowser(imageBrowser => imageBrowser
                  .Image("~/Content/UserFiles/Images/{0}")
                  .Read("Read", "ImageBrowser")
                  .Create("Create", "ImageBrowser")
                  .Destroy("Destroy", "ImageBrowser")
                  .Upload("Upload", "ImageBrowser")
                  .Thumbnail("Thumbnail", "ImageBrowser"))
        )

        <div class="form-group">
            <br />
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}