@using Mapper21.BE.Domain
@using Mapper21.UI.Models
@model Section

@{
    ViewBag.Title = "Edit";
    ViewBag.SectionId = Model.Id;

    var subSectionType = "";
    if (Model.SectionTypeId == "FallExpedition" || Model.SectionTypeId == "MiniMester" || Model.SectionTypeId == "SpringExpedition") { subSectionType = "Case Study"; }
    if (Model.SectionTypeId == "FirstSixWeeks") { subSectionType = "Week"; }
    if (Model.SectionTypeId == "Strand") { subSectionType = "Unit"; }
}

<script src="~/Scripts/Mapper21.js"> </script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <div class="box box-primary">
            <div class="box-header">
                <i class="fa fa-edit"></i>
                <h3 class="box-title">@subSectionType</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    @foreach (var @item in Model.SubSections)
                    {
                        <div class="col-md-4">
                            <!-- Primary box -->
                            <div class="box box-solid box-primary">
                                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                                    <h3 class="box-title"><a style="color: #fff;" href="~/Section/EditSubSection/@Model.SectionTypeId/@item.Id">@item.Name</a></h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <p>
                                        @item.Description
                                    </p>
                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    <a href="~/Section/EditSubSection/@Model.SectionTypeId/@item.Id">Edit @item.Name @subSectionType</a>
                                </div><!-- /.box-footer-->
                            </div><!-- /.box -->
                        </div>
                    }
                </div>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" href="~/Section/CreateSubSection/@Model.SectionTypeId">Add a New @subSectionType</a>
            </div>
        </div>
        
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }